{% extends "base.html" %}
{% block start %}

<style>
  table,th,td{
      border: 1px solid black;
  } 
</style>

    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Add Recipe</h1>
            <hr>
            <div class="mb-3">
              <label for="Name" class="form-label">Recipe Name</label>
              <input name="name" required type="text" class="form-control">
            </div>

            <div class="mb-3">
              <label for="Description" class="form-label">Recipe Description</label>
              <textarea name="description" required class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label for="Image" class="form-label">Recipe Image</label>
                <input name="image" type="file" class="form-control">
              </div>

            <button type="submit" class="btn btn-success">Add Recipe</button>
          </form>

          <hr>
          <div class="mt-5">
            <div class="mx-auto col-6">

              <form>
              <div class="mb-3">
                <label for="search" class="form-label">Search Recipe</label>
                <input name="search" type="text" class="form-control">
              </div>

              <button type="submit" class="btn btn-primary">Search</button>

            </form>
            </div>
          </div>


          <br><br><br><br>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Recipes Name</th>
                <th scope="col">Recipes Description</th>
                <th scope="col">Recipes Image</th>
                <th scope="col">Actions</th>
                <th scope="col">Update</th>
              </tr>
            </thead>
            <tbody>
              {% for recipe in recipes %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{recipe.name}}</td>
                <td>{{recipe.description}}</td>
                <td>
                  <img  src="/media/{{recipe.image}}" style="height: 200px; width: 200px;"></td>
                  
                <td>
                  <a href="/delete-recipe/{{ recipe.id }}/" class="btn btn-danger m-2">Delete</a>
                </td>
                
                <td>
                  <a href="/update-recipe/{{ recipe.id }}/" class="btn btn-success m-2">Update</a>
                </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>



    </div>
    
{% endblock %}