{% extends "base.html" %}
{% block start %}

<style>
  table,th,td{
      border: 1px solid black;
  } 
</style>

    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Registeration</h1>
            <hr>

            {% if messages %}
            {{ messages.tags }}
            <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
            </div>
            {% endif %}
            
            <form>
            <div class="mb-3">
              <label for="First Name" class="form-label">First Name</label>
              <input name="First Name" required type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="Last Name" class="form-label">Last Name</label>
                <input name="Last Name" type="text" class="form-control">
              </div>
              
              
              <div class="mb-3">
                <label for="Username" class="form-label">Username</label>
                <input name="Username" type="text" class="form-control">
              </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" name="Password" required class="form-control">
            </div>

            <p> Already Have an account? <a href="/login/">Login</a></p>

            <button type="submit" class="btn btn-success">Register</button>
            </form>

            </form>
            </div>
    
{% endblock %}